/***** Start breadcrumb *****/

.breadcrumb
{
  background: none;
  padding: 30px 0;
  font-size: 18px;
  margin: 0; 
}

/***** End breadcrumb *****/

/***** Strat about*****/

.about-Us
{
  padding: 40px 0;
}

.about-Us h1
{
  font-size: 50px;
  font-weight: 900  ;
  letter-spacing: -3px;
}

.about-features{padding:0 0 30px;}

.about-features h3
{
  font-size: 25px;
  font-weight: 800;
  margin-top: 10px;
}

.about-features p
{
  margin-bottom: 20px;
}

.about-ceo
{
  padding-top: 40px;
  background-color:#EEE;
}

.about-ceo h2
{
  font-family:'Raleway', sans-serif;
  font-weight: 600;
  font-size: 25px;
  margin-top: 30px;
}

.about-ceo .lead
{
  line-height: 1.8;
}

@media (max-width: 767.98px)
{
  .about-Us h1 {font-size: 20px;  letter-spacing: 1.2px;}

}

/***** Strat about*****/

/***** Strat accordion*****/

.accordion .card-header .btn::after
{
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  color: #444
}

.accordion .btn-link {color: #000; }

.btn.focus, .btn:focus{outline: 0; box-shadow: none;}

/***** End accordion*****/